<script type="text/javascript">
  $(document).ready(function() {
      $(function() {
        /* For zebra striping */
        $("table tr:nth-child(odd)").addClass("odd-row");
        /* For cell text alignment */
        $("table td:first-child, table th:first-child").addClass("first");
        /* For removing the last border */
        $("table td:last-child, table th:last-child").addClass("last");
      });
  });
</script>

<% @title ||= "Users" %>

<table cellspacing="0" >  <caption><%= @title %></caption>
	<thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Created</th>
      <th>Updated</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>

<% for user in @users %>
  <tr>
    <td class="mouse" onclick=<%="document.location.href='#{admin_user_path(user)}'"%>>
      <%= link_to(user.name, admin_user_path(user)) %>
    </td>
    <td class="mouse" onclick=<%="document.location.href='#{admin_user_path(user)}'"%>>
      <%= link_to(user.email, admin_user_path(user)) %>
    </td>
    <td>
      <%= user.admin? %>
    </td>
    <td class="mouse" onclick=<%="document.location.href='#{admin_user_path(user)}'"%>>
      <%=h user.created_at.to_s(:short) %>
    </td>
    <td class="mouse" onclick=<%="document.location.href='#{admin_user_path(user)}'"%>>
      <%=h user.updated_at.to_s(:short) %>
    </td>
    <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    <td><%= link_to "Del", admin_user_path(user), :confirm => "are_you_sure", :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />
<%= link_to image_tag("admin/new_button.png"), new_admin_user_path %>
