<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "table.css" %>
  <%= stylesheet_link_tag "scaffold.css" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.tools.js" %>
  <%= csrf_meta_tag %>
  <%#= include_tiny_mce_if_needed %>
  <%= yield :head %>
  
  <%= yield :scripts %>
</head>
<body>
<div id="wrap">
  <div id="top_box">
    <div id="logo">
      <h1><a href="/">globalpeacenow.com</a></h1>
      <a href="/"><small>Be ONE in a MILLION</small></a> </div>
    <div id="menu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/images">Gallery</a></li>
        <li><a href="/pages/about_us">About Us</a></li>
        <li><a href="/messages/new">Contact Us</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content_top"></div>
  
  
  <div id="content">
    <div id="prew_box">
	
      <div class="scrollable">
				<div class="items">
				  
					<div class="item">
					  <div class="header1">
					    <img src="/images/01.jpg" alt="" title="" /> 					
					  </div> 
          </div> <!-- item -->
          
					<div class="item">
				    <div class="header2">
						   <img src="/images/03.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->
					
					<div class="item">
				    <div class="header3">
						   <img src="/images/02.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->
					
					<div class="item">
				    <div class="header4">
						   <img src="/images/03.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->											
					
				</div> <!-- items -->
			</div> <!-- scrollable -->
			
			<div style="height: 5px"></div>
			<div class="navi"></div> <!-- create automatically the point dor the navigation depending on the numbers of items -->		   
			  
      <div style="clear: both"></div>
      

      <% if flash[:info] %>
        <p class="info"><%= flash[:info] %></p>
      <% end %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <noscript>
        <div class="warning">
          <strong>Your browser doesn't support JavaScript or it's disabled.</strong><br/>
          You can use the website, but for best performance 
          and to fully use all features of this website, we recommend 
          to enable JavaScript in your browser preferences and refresh the page.
        </div>
      </noscript>

      <div id="content_body">
        <%= yield %>
      </div>
    
    </div>
    
    
    <div id="column_box">
      <div id="bg_left"></div>
      <%= @box_center.body.html_safe %>
    </div>
    
    <div id="last_box">
      <div id="last_box_left">
        <%= @last_box_left.body.html_safe %>
      </div>
      <div id="last_box_right">
        <h4>Pages List </h4>
        <div id="last_box_right1">
          <ul class="ls2">
            <% @pages.each do |page| %>
              <li><%= link_to page.title, page %></li>
            <% end %>
          </ul>
        </div>
        <div id="last_box_right2">
          <%= @last_box_right.body.html_safe %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <div class="content_bot"></div>
  <div id="footer_bg">
    <div id="footer_top">
      <div id="footer_top_column1">
        <%= @footer_left.body.html_safe %>
      </div>
      <div id="footer_top_column2">
        <%= render :partial => "/shared/twitter" %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer_bot">
      <!-- Footer -->
      <%= @footer_copyright.body.html_safe %>
    </div>
  </div>
</div>
</body>
</html>