<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "table.css" %>
  <%= stylesheet_link_tag "scaffold.css" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.tools.js" %>
  <%= csrf_meta_tag %>
  <%#= include_tiny_mce_if_needed %>
  <%= yield :head %>
  
  <%= yield :scripts %>
</head>
<body>
<div id="wrap">
  <div id="top_box">
    <div id="logo">
      <h1><a href="/">globalpeacenow.com</a></h1>
      <a href="/"><small>Be ONE in a MILLION</small></a> </div>
    <div id="menu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/images">Gallery</a></li>
        <li><a href="/pages/about_us">About Us</a></li>
        <li><a href="/messages/new">Contact Us</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content_top"></div>
  
  
  <div id="content">
    <div id="prew_box">
	
      <div class="scrollable">
				<div class="items">
				  
					<div class="item">
					  <div class="header1">
					    <img src="/images/01.jpg" alt="" title="" /> 					
					  </div> 
          </div> <!-- item -->
          
					<div class="item">
				    <div class="header2">
						   <img src="/images/03.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->
					
					<div class="item">
				    <div class="header3">
						   <img src="/images/02.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->
					
					<div class="item">
				    <div class="header4">
						   <img src="/images/03.jpg" alt="" title="" />
						</div>						
					</div> <!-- item -->											
					
				</div> <!-- items -->
			</div> <!-- scrollable -->
			
			<div style="height: 10px"></div>
			<div class="navi"></div> <!-- create automatically the point dor the navigation depending on the numbers of items -->		   
			  
      <div style="clear: both"></div>
      

      <% if flash[:info] %>
        <p class="info"><%= flash[:info] %></p>
      <% end %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <noscript>
        <div class="warning">
          <strong>Your browser doesn't support JavaScript or it's disabled.</strong><br/>
          You can use the website, but for best performance 
          and to fully use all features of this website, we recommend 
          to enable JavaScript in your browser preferences and refresh the page.
        </div>
      </noscript>

      <div id="content_body">
        <%= yield %>
      </div>
    
    </div>
    
    
    <div id="column_box">
      <div id="bg_left"></div>
      <div id="column1">
        <h2><a href="/pages/though_shalt_not_kill">Though Shalt Not Kill</a></h2>
        <p>Don't kill Mr Qaddafi, when he has agreed to relinquish the power, and bring stability to the nation; consider his proposal for the sake of Libyans and to avoid future genocide or civil war among the tribes.</p>
        <div class="read"> <a href="/pages/though_shalt_not_kill">read more...</a> </div>
      </div>
      <div id="column2">
        <h2><a href="/pages/stop_the_bombing">Stop the bombing</a></h2>
        <p>
          UN Security Council resolutions on Libya which expire on September 20, must not be extended. 
          <br />
          The resolutions stipulated only a no-fly zone, not the bombing of civilians, and not NATO ground troops in Libya.
        </p>
        <div class="read"> <a href="/pages/do_not_extend_nato_bombing">read more...</a> </div>
      </div>
      <div id="column3">
        <h2> <a href="/pages/change_foreign_policy">Change foreign policy</a></h2>
        <p>
          The U.S. and Europe should change their unjust foreign policy and restore its image to what it was before the Iraq war and not waste hundreds of billions of dollars in unnecessary wars such as the current war on Libya.
        </p>
        <div class="read"> <a href="/pages/change_foreign_policy">read more...</a> </div>
      </div>
      <div id="bg_right"></div>
      <div class="clear"></div>
    </div>
    
    <div id="last_box">
      <div id="last_box_left">
        <h4>Be ONE in a MILLION and give peace a chance</h4>
        <img src="/images/themes/freecss_solid/img1.jpg" alt="" title="" />
        <p>
          Bring equality and fairness to all. The wars are creating more widows and orphans than all the natural disasters put together.
          <br />
          <br />
          Enough is enough. If you love God, if you love human beings, say 'no to war and yes to peace' and become a follower -- a true follower -- of Jesus. A true follower of Gandhi, of Martin Luther King, of Nelson Mandela..
        </p>
      </div>
      <div id="last_box_right">
        <h4>Pages List </h4>
        <div id="last_box_right1">
          <ul class="ls2">
            <% @pages.each do |page| %>
              <li><%= link_to page.title, page %></li>
            <% end %>
          </ul>
        </div>
        <div id="last_box_right2">
          <p>
            <a href="/pages/lybia">Why the war on Libya must stop.</a>
            <br />
            Dr K A Paul visited Libya to convince Libya's leader Muammar Qaddafi to relinquish power and allow for fresh elections to take place. 
            <br />
            Find out what happened:
            </p>
          <div class="read"> <a href="/lybia">read more...</a> </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="content_bot"></div>
  <div id="footer_bg">
    <div id="footer_top">
      <div id="footer_top_column1">
        <h3>Follow Us</h3>
        <div class="foot_pad">
          <div class="link1"><a href="#">Subscribe to Blog</a></div>
          <div class="link2"><a href="#">Be a fan on Facebook</a></div>
          <div class="link3"><a href="#">RSS Feed</a></div>
          <div class="link4"><a href="#">Follow us on Twitter</a></div>
        </div>
      </div>
      <div id="footer_top_column2">
        <h3>Recent posts</h3>
        <p>
        	<a href="#">Suspendisse rutrum interdum lacinia.</a>
			Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar <br /><br />
            <a href="#">Quisque luctus, mi ornare malesuada </a>
			Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar 
        </p>
      </div>
      <div id="footer_top_column3">
        <h3>Useful Resources</h3>
        <ul class="ls">
          <% @pages.each do |page| %>
            <li><%= link_to page.title, page %></li>
          <% end %>
        </ul>
      </div>
      <div id="footer_top_column4">
        <h3>About Us</h3>
        <div>
        	<img src="/images/themes/freecss_solid/img2.jpg" alt="" title="" style="float: left; padding-right: 10px;"/>
            <p class="under">&quot;Integer malesuada porttitor elit, at cursus massa malesuada a.&quot;</p>
            <div class="clear">&nbsp;</div>
            <img src="/images/themes/freecss_solid/img3.jpg" alt="" title="" style="float: left; padding-right: 10px;"/>
            <p class="under">&quot;Donec vel nulla a enim iaculis. Maecenas aliquam dui non urna&quot;</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer_bot">
      <p>Copyright  2011. <!-- Do not remove -->Designed by <a href="http://www.myfreecsstemplates.com/" title="Free CSS Templates">Free CSS Templates</a><!-- end --></p>
      <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
    </div>
  </div>
</div>
</body>
</html>